# Precious Metals: Data & News (2000-Present)

This dataset offers a rich combination of quantitative financial market data and qualitative news text data on a daily basis, specifically focusing on the precious metals market (gold, silver, platinum and palladium using Gold Futures 'GC=F' as the primary example) from August 2000, up to April 2025. It is designed for researchers, analysts, and data scientists interested in exploring the interplay between financial news and market dynamics.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
input_file = "./data/Precious-Metal/final_gold_data.csv"
input_file

'./data/Precious-Metal/final_gold_data.csv'

In [22]:
df = pd.read_csv(input_file,sep=";")
df

,timestamp,open,high,low,close,volume,currency,unit,headlines
0,2000-08-30,273.9,273.9,273.9,273.9,0,usd,ounce,Recalls Fuel Disclosure Debate / Deutsche Tele...
1,2000-08-31,274.8,278.3,274.8,278.3,0,usd,ounce,Credit Suisse's Wheat Faces Deal / Regulators ...
2,2000-09-01,277.0,277.0,277.0,277.0,0,usd,ounce,Nordstrom's Chief Resigns / Judge Dismisses Ca...
3,2000-09-05,275.8,275.8,275.8,275.8,2,usd,ounce,Market Pace Slows After 10-Year Run / Clickman...
4,2000-09-06,274.2,274.2,274.2,274.2,0,usd,ounce,France Telecom Profit Increases / Locale-Based...
...,...,...,...,...,...,...,...,...,...
6172,2025-04-08,2994.0,3014.5,2968.4,2968.4,3213,usd,ounce,South Korea Announces Emergency Support for Au...
6173,2025-04-09,2965.8,3090.4,2965.8,3056.5,2175,usd,ounce,Inside the Chinese City That Said Cash Rewards...
6174,2025-04-10,3073.9,3167.0,3072.1,3155.2,3456,usd,ounce,Six Dead in Helicopter Crash in Hudson River N...
6175,2025-04-11,3182.1,3235.0,3182.1,3222.2,862,usd,ounce,Spanish Siemens Couple Killed Alongside Childr...
6176,2025-04-14,3215.5,3228.8,3194.5,3204.8,263,usd,ounce,Star Posts Large Loss in Delayed First-Half Re...