## **Descriptive Statistics**

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("weight-height.csv")
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [3]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [5]:
df['Height'] <=63.505620

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999     True
Name: Height, Length: 10000, dtype: bool

In [6]:
df[df['Height'] <=63.505620]

      Gender     Height      Weight
9       Male  63.456494  156.399676
123     Male  62.706990  149.969618
157     Male  61.937323  147.263687
205     Male  63.414587  160.140616
228     Male  63.440247  135.655876
...      ...        ...         ...
9991  Female  62.636675  102.853563
9992  Female  62.077832  138.691680
9993  Female  60.030434   97.687432
9994  Female  59.098250  110.529686
9999  Female  61.944246  113.649103

[2500 rows x 3 columns]

In [7]:
len(df[df['Height'] <=63.505620])

2500

In [8]:
len(df[df['Height'] <=63.505620])/len(df)

0.25