In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import binom, poisson

In [3]:
df = pd.read_csv("waiting_time.csv")
df

             time
0      184.003075
1       36.721521
2       29.970417
3       75.640285
4       61.489439
...           ...
90041  135.885984
90042   15.223970
90043  207.839528
90044  140.488418
90045   50.719544

[90046 rows x 1 columns]