# Precious Metals: Data & News (2000-Present)

This dataset offers a rich combination of quantitative financial market data and qualitative news text data on a daily basis, specifically focusing on the precious metals market (gold, silver, platinum and palladium using Gold Futures 'GC=F' as the primary example) from August 2000, up to April 2025. It is designed for researchers, analysts, and data scientists interested in exploring the interplay between financial news and market dynamics.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
gold_file = "./data/Precious-Metal/final_gold_data.csv"
silver_file = "./data/Precious-Metal/final_silver_data.csv"
platinum_file = "./data/Precious-Metal/final_platinum_data.csv"
palladium_file = "./data/Precious-Metal/final_palladium_data.csv"
gold_file,silver_file,platinum_file,palladium_file

('./data/Precious-Metal/final_gold_data.csv',
 './data/Precious-Metal/final_silver_data.csv',
 './data/Precious-Metal/final_platinum_data.csv',
 './data/Precious-Metal/final_palladium_data.csv')

In [3]:
df_gold = pd.read_csv(gold_file,sep=";")
df_silver = pd.read_csv(silver_file,sep=";")
df_platinum = pd.read_csv(platinum_file,sep=";")
df_palladium = pd.read_csv(palladium_file,sep=";")

In [4]:
df_gold

,timestamp,open,high,low,close,volume,currency,unit,headlines
0,2000-08-30,273.9,273.9,273.9,273.9,0,usd,ounce,Recalls Fuel Disclosure Debate / Deutsche Tele...
1,2000-08-31,274.8,278.3,274.8,278.3,0,usd,ounce,Credit Suisse's Wheat Faces Deal / Regulators ...
2,2000-09-01,277.0,277.0,277.0,277.0,0,usd,ounce,Nordstrom's Chief Resigns / Judge Dismisses Ca...
3,2000-09-05,275.8,275.8,275.8,275.8,2,usd,ounce,Market Pace Slows After 10-Year Run / Clickman...
4,2000-09-06,274.2,274.2,274.2,274.2,0,usd,ounce,France Telecom Profit Increases / Locale-Based...
...,...,...,...,...,...,...,...,...,...
6172,2025-04-08,2994.0,3014.5,2968.4,2968.4,3213,usd,ounce,South Korea Announces Emergency Support for Au...
6173,2025-04-09,2965.8,3090.4,2965.8,3056.5,2175,usd,ounce,Inside the Chinese City That Said Cash Rewards...
6174,2025-04-10,3073.9,3167.0,3072.1,3155.2,3456,usd,ounce,Six Dead in Helicopter Crash in Hudson River N...
6175,2025-04-11,3182.1,3235.0,3182.1,3222.2,862,usd,ounce,Spanish Siemens Couple Killed Alongside Childr...
6176,2025-04-14,3215.5,3228.8,3194.5,3204.8,263,usd,ounce,Star Posts Large Loss in Delayed First-Half Re...

In [5]:

df_silver

,timestamp,open,high,low,close,volume,currency,unit,headlines
0,2000-08-30,4.950,4.950,4.895,4.930,2319.0,usd,ounce,Recalls Fuel Disclosure Debate / Deutsche Tele...
1,2000-08-31,4.920,5.045,4.920,5.003,1612.0,usd,ounce,Credit Suisse's Wheat Faces Deal / Regulators ...
2,2000-09-01,5.035,5.035,4.985,5.004,1375.0,usd,ounce,Nordstrom's Chief Resigns / Judge Dismisses Ca...
3,2000-09-05,4.990,5.005,4.975,4.998,856.0,usd,ounce,Market Pace Slows After 10-Year Run / Clickman...
4,2000-09-06,5.000,5.000,4.980,4.983,232.0,usd,ounce,France Telecom Profit Increases / Locale-Based...
...,...,...,...,...,...,...,...,...,...
6171,2025-04-08,29.765,30.320,29.592,29.592,64.0,usd,ounce,South Korea Announces Emergency Support for Au...
6172,2025-04-09,29.350,30.323,29.255,30.323,137.0,usd,ounce,Inside the Chinese City That Said Cash Rewards...
6173,2025-04-10,31.030,31.050,30.671,30.671,4.0,usd,ounce,Six Dead in Helicopter Crash in Hudson River N...
6174,2025-04-11,31.115,31.824,31.115,31.824,24.0,usd,ounce,Spanish Siemens Couple Killed Alongside Childr...
6175,2025-04-14,31.800,32.092,31.800,32.092,17.0,usd,ounce,Star Posts Large Loss in Delayed First-Half Re...

In [6]:
df_platinum

,timestamp,open,high,low,close,volume,currency,unit,headlines
0,2000-08-30,593.9,602.0,590.1,591.4,842.0,usd,ounce,Recalls Fuel Disclosure Debate / Deutsche Tele...
1,2000-08-31,589.0,592.0,584.5,586.7,358.0,usd,ounce,Credit Suisse's Wheat Faces Deal / Regulators ...
2,2000-09-01,588.0,598.0,588.0,595.3,716.0,usd,ounce,Nordstrom's Chief Resigns / Judge Dismisses Ca...
3,2000-09-05,602.0,604.5,595.5,601.3,1161.0,usd,ounce,Market Pace Slows After 10-Year Run / Clickman...
4,2000-09-06,603.0,612.0,603.0,611.1,865.0,usd,ounce,France Telecom Profit Increases / Locale-Based...
...,...,...,...,...,...,...,...,...,...
5485,2025-04-08,906.7,906.8,899.6,899.6,121.0,usd,ounce,South Korea Announces Emergency Support for Au...
5486,2025-04-09,903.7,908.6,903.7,908.6,110.0,usd,ounce,Inside the Chinese City That Said Cash Rewards...
5487,2025-04-10,926.9,927.3,922.4,922.4,390.0,usd,ounce,Six Dead in Helicopter Crash in Hudson River N...
5488,2025-04-11,928.7,937.0,928.7,934.3,37.0,usd,ounce,Spanish Siemens Couple Killed Alongside Childr...
5489,2025-04-14,950.8,950.8,948.6,948.6,126.0,usd,ounce,Star Posts Large Loss in Delayed First-Half Re...

In [7]:
df_palladium

,timestamp,open,high,low,close,volume,currency,unit,headlines
0,2000-08-30,717.00,717.0,714.0,711.05,12.0,usd,ounce,Recalls Fuel Disclosure Debate / Deutsche Tele...
1,2000-08-31,710.00,710.0,710.0,716.75,12.0,usd,ounce,Credit Suisse's Wheat Faces Deal / Regulators ...
2,2000-09-01,710.00,710.0,710.0,724.70,2.0,usd,ounce,Nordstrom's Chief Resigns / Judge Dismisses Ca...
3,2000-09-05,710.00,710.0,710.0,720.65,0.0,usd,ounce,Market Pace Slows After 10-Year Run / Clickman...
4,2000-09-06,720.65,710.0,710.0,738.00,0.0,usd,ounce,France Telecom Profit Increases / Locale-Based...
...,...,...,...,...,...,...,...,...,...
5726,2025-04-08,877.90,877.9,877.9,877.90,3.0,usd,ounce,South Korea Announces Emergency Support for Au...
5727,2025-04-09,878.10,878.1,878.1,878.10,3.0,usd,ounce,Inside the Chinese City That Said Cash Rewards...
5728,2025-04-10,888.90,888.9,888.9,888.90,3.0,usd,ounce,Six Dead in Helicopter Crash in Hudson River N...
5729,2025-04-11,896.80,896.8,896.8,896.80,3.0,usd,ounce,Spanish Siemens Couple Killed Alongside Childr...
5730,2025-04-14,946.60,946.6,946.6,946.60,3.0,usd,ounce,Star Posts Large Loss in Delayed First-Half Re...

### **Data Overview**

In [8]:
def data_overview(df, name):
    print(f"{name} Overview \n")
    print(f"Shape: {df.shape}\n\n")

    print(f"Info: \n{df.info}\n\n")
    print(f"Statistics: \n{df.describe()}")

In [9]:
data_overview(df_gold, "Gold")

Gold Overview

Shape: (6177, 9)


Info:
<bound method DataFrame.info of        timestamp    open    high     low   close  volume currency   unit  \
0     2000-08-30   273.9   273.9   273.9   273.9       0      usd  ounce
1     2000-08-31   274.8   278.3   274.8   278.3       0      usd  ounce
2     2000-09-01   277.0   277.0   277.0   277.0       0      usd  ounce
3     2000-09-05   275.8   275.8   275.8   275.8       2      usd  ounce
4     2000-09-06   274.2   274.2   274.2   274.2       0      usd  ounce
...          ...     ...     ...     ...     ...     ...      ...    ...
6172  2025-04-08  2994.0  3014.5  2968.4  2968.4    3213      usd  ounce
6173  2025-04-09  2965.8  3090.4  2965.8  3056.5    2175      usd  ounce
6174  2025-04-10  3073.9  3167.0  3072.1  3155.2    3456      usd  ounce
6175  2025-04-11  3182.1  3235.0  3182.1  3222.2     862      usd  ounce
6176  2025-04-14  3215.5  3228.8  3194.5  3204.8     263      usd  ounce

                                              headlines
0     Recalls Fuel Disclosure Debate / Deutsche Tele...
1     Credit Suisse's Wheat Faces Deal / Regulators ...
2     Nordstrom's Chief Resigns / Judge Dismisses Ca...
3     Market Pace Slows After 10-Year Run / Clickman...
4     France Telecom Profit Increases / Locale-Based...
...                                                 ...
6172  South Korea Announces Emergency Support for Au...
6173  Inside the Chinese City That Said Cash Rewards...
6174  Six Dead in Helicopter Crash in Hudson River N...
6175  Spanish Siemens Couple Killed Alongside Childr...
6176  Star Posts Large Loss in Delayed First-Half Re...

[6177 rows x 9 columns]>


Statistics:
              open         high          low        close         volume
count  6177.000000  6177.000000  6177.000000  6177.000000    6177.000000
mean   1181.017241  1186.953392  1174.885090  1181.012304    4298.049377
std     606.257425   609.741360   602.902334   606.424369   24281.911885
min     255.000000   256.100000   255.000000   255.100000       0.000000
25%     636.500000   640.200000   634.000000   635.200000      21.000000
50%    1238.200000  1243.900000  1231.800000  1238.400000     108.000000
75%    1641.300000  1652.200000  1630.400000  1640.300000     415.000000
max    3215.500000  3235.000000  3194.500000  3222.200000  386334.000000

In [10]:
data_overview(df_silver, "Silver")

Silver Overview

Shape: (6176, 9)


Info:
<bound method DataFrame.info of        timestamp    open    high     low   close  volume currency   unit  \
0     2000-08-30   4.950   4.950   4.895   4.930  2319.0      usd  ounce
1     2000-08-31   4.920   5.045   4.920   5.003  1612.0      usd  ounce
2     2000-09-01   5.035   5.035   4.985   5.004  1375.0      usd  ounce
3     2000-09-05   4.990   5.005   4.975   4.998   856.0      usd  ounce
4     2000-09-06   5.000   5.000   4.980   4.983   232.0      usd  ounce
...          ...     ...     ...     ...     ...     ...      ...    ...
6171  2025-04-08  29.765  30.320  29.592  29.592    64.0      usd  ounce
6172  2025-04-09  29.350  30.323  29.255  30.323   137.0      usd  ounce
6173  2025-04-10  31.030  31.050  30.671  30.671     4.0      usd  ounce
6174  2025-04-11  31.115  31.824  31.115  31.824    24.0      usd  ounce
6175  2025-04-14  31.800  32.092  31.800  32.092    17.0      usd  ounce

                                              headlines
0     Recalls Fuel Disclosure Debate / Deutsche Tele...
1     Credit Suisse's Wheat Faces Deal / Regulators ...
2     Nordstrom's Chief Resigns / Judge Dismisses Ca...
3     Market Pace Slows After 10-Year Run / Clickman...
4     France Telecom Profit Increases / Locale-Based...
...                                                 ...
6171  South Korea Announces Emergency Support for Au...
6172  Inside the Chinese City That Said Cash Rewards...
6173  Six Dead in Helicopter Crash in Hudson River N...
6174  Spanish Siemens Couple Killed Alongside Childr...
6175  Star Posts Large Loss in Delayed First-Half Re...

[6176 rows x 9 columns]>


Statistics:
              open         high          low        close         volume
count  6176.000000  6176.000000  6176.000000  6176.000000    6176.000000
mean     17.231361    17.347975    17.102428    17.224150    1454.875324
std       8.611617     8.701887     8.510736     8.604334    8489.667302
min       4.026000     4.026000     4.026000     4.026000       0.000000
25%      11.734500    11.778000    11.661250    11.721500       5.000000
50%      16.830000    16.911000    16.745000    16.826000      35.000000
75%      22.921250    23.085000    22.765000    22.929500     137.000000
max      48.460000    49.520000    47.540000    48.584000  170297.000000

In [12]:
df_gold['timestamp'].dtype

dtype('O')

In [14]:
df_gold['timestamp'].min(), df_gold['timestamp'].max()

('2000-08-30', '2025-04-14')